<div class="form">
  <div class="container">
    <h1 class="titulo">Agregar Prenda</h1>
    <hr />
    <mat-form-field color="accent">
      <input [(ngModel)]="agregarPrenda.nombre" matInput placeholder="Nombre" />
    </mat-form-field>

    <mat-form-field>
      <textarea
        [(ngModel)]="agregarPrenda.descripcion"
        matInput
        placeholder="Descripción"
      ></textarea>
    </mat-form-field>

    <input type="file" (change)="subirArchivo($event)" />

    <button (click)="crearImg()" class="btn btn-primary">Agregar Prenda</button>
  </div>
</div>
