:root {
  --clr-dark: #2a2a2e;
  --clr-clear: #f2efe9;
  --clr-accent: #fe4c4c;
  --clr-back: black;
  --clr-white: white;
  --clr-grey: #acacac;
}
html {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: var(--clr-dark);
}
.title {
  color: red, /* var(--clr-accent) */;
  /* font-family: "Comfortaa", cursive; */
  font-family: "Kufam", cursive;
  font-size: 10em;
  margin-top: 0.3em;
}
.subtitle {
  color: var(--clr-clear);
  font-family: "Comfortaa", cursive;
  font-size: 2em;
}

.navbar {
  background-color: var(--clr-dark);
}

a .navbar-brand {
  color: white;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  color: var(--clr-clear);
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--clr-grey);
}

a:link {
  color: var(--clr-dark);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--clr-dark);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--clr-dark);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--clr-dark);
  text-decoration: none;
}

.icon {
  position: relative;
  top: 8px;
  margin-left: 25px;
}

.icon:hover {
  cursor: pointer;
}

#add {
  visibility: hidden;
}

.material-icons {
  font-size: 20px;
}
