<div class="container" multi="true" *ngIf="lista.length">
  <!--For Row containing all card-->
  <div *ngFor="let lista of lista">
    <!--Card 1-->
    <div class="col-sm">
      <div
        class="card text-white bg-dark card-cascade card-ecommerce wider shadow mb-5"
      >
        <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="{{ lista.sticker }}" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body card-body-cascade text-center">
          <h1 class="card-title text-white">
            <strong>{{ lista.nombre }}</strong>
          </h1>

          <p class="card-text">
            {{ lista.descripcion }}
          </p>

          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="../img/camisa.jpg" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <div class="card-body card-body-cascade text-center">
         
          <h4 class="card-title text-white"><strong>Camisa</strong></h4>
          
          <p class="card-text">
            Camisa para Hombre, cuello camisero, manga larga, silueta amplia,
            elaborada en Chambray
          </p>

         
          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-sm">
      <div
        class="card text-white bg-dark card-cascade card-ecommerce wider shadow mb-5"
      >
        
        <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="../img/camiseta.jpg" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <div class="card-body card-body-cascade text-center">
          
          <h4 class="card-title text-white">
            <strong>Camiseta Negra</strong>
          </h4>
          
          <p class="card-text">
            Camiseta negra para hombre talla L. En perfecto estado
          </p>

          
          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>

   
  </div>

  <div class="row">
    
    <div class="col-sm">
      <div
        class="card text-white bg-dark card-cascade card-ecommerce wider shadow mb-5"
      >
        
        <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="../img/chaqueta.jpg" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
       
        <div class="card-body card-body-cascade text-center">
          
          <h4 class="card-title text-white">
            <strong>Chaqueta Moto</strong>
          </h4>
         
          <p class="card-text">
            Chaqueta de cuero resistente a golpes y raspaduras. Ideal para
            viajar en moto. Talla M
          </p>

        
          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-sm">
      <div
        class="card text-white bg-dark card-cascade card-ecommerce wider shadow mb-5"
      >
        
        <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="../img/chaquetam.jpg" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        
        <div class="card-body card-body-cascade text-center">
          
          <h4 class="card-title text-white">
            <strong>Chaqueta Impermeable</strong>
          </h4>
          
          <p class="card-text">
            Chaqueta para mujer color azul claro. Marca Loius Vuitton. Como
            nueva.
          </p>

          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>

   
    <div class="col-sm">
      <div
        class="card text-white bg-dark card-cascade card-ecommerce wider shadow mb-5"
      >
      
        <div class="view view-cascade overlay text-center">
          <img class="card-img-top" src="../img/jean.jpg" alt="" />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
       
        <div class="card-body card-body-cascade text-center">
         
          <h4 class="card-title text-white"><strong>Jean Levis</strong></h4>
        
          <p class="card-text">
            Jean ideal para personas muy bajitas y gorditas o para niños con
            obesidad.
          </p>

         
          <div class="card-footer">
            <p>Solicitar</p>
          </div>
        </div>
      </div>
    </div>
  </div>  -->
  </div>
</div>
