<div class="form">
  <div class="container">
    <h1 class="titulo">Registrarte</h1>
    <hr />
    <mat-form-field color="accent">
      <input
        [(ngModel)]="registrarUsuario.nombre"
        matInput
        placeholder="Nombre"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        [(ngModel)]="registrarUsuario.correo"
        matInput
        placeholder="Correo"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        [(ngModel)]="registrarUsuario.pass"
        matInput
        placeholder="Contraseña"
      />
    </mat-form-field>

    <button (click)="registrar()" class="btn btn-primary">Registrarte</button>
  </div>
</div>
